<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 bd-example-row">
    <div class="row">
    <div class="col-sm-8 bg-primary text-white">
   <div class="row">
    <div class="col-sm-6 bg-secondary text-white">col-sm-6</div>
    <div class="col-sm-6 bg-primary text-white">col-sm-6</div>
   </div> 
    </div>
    <div class="col-sm-4 bg-secondary text-white">col-sm-4</div>
  </div>

  <div class="row">
    <div class="col-sm bg-primary text-white">col-sm</div>
    <div class="col-sm bg-secondary text-white">col-sm</div>
    <div class="col-sm bg-primary text-white">col-sm</div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-primary text-white">col-sm-6</div>
    <div class="col-sm-6 bg-secondary text-white">col-sm-6</div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-12 bg-primary text-white">col-sm-6</div>
    <div class="col-sm-4 col-md-12 bg-secondary text-white">col-sm-4</div>
    <div class="col-sm-2 col-md-12 bg-primary text-white">col-sm-2</div>
  </div>
  
</body>
</html>